* {
    box-sizing: border-box;
}

/*Wrapped the page so it's cenetered and gave it overall properties */

#page-wrap {
    margin: 0 auto;
    max-width: 768px;
    font-family: raleway;
}

header {
    background-color: #30acac;
}

#toptop {
    color:whitesmoke

}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

#topline {
    border: none;
    height: 4px;
    background-color: black;
}

/* HEADING/TOP OF THE PAGE */
#intro {
    text-align: center;
    padding: 1em;
}

#subheading {
    margin-top: -10px;
    color: #bbb5b5c0;
}

input:focus,
textarea:focus,
select:focus {
    background-color: #66636362;
    transition: 500ms;
}

/* LITERAL CONTACT INFORMATION AND NEWSLETTER HEADING TEXT*/
.labels{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

/* INPUT BOX STYLING  */

::placeholder {
    text-align: right;
    color: rgba(187, 179, 179, 0.801);
}

input {
    background-color: #eff0f1;
    border: none;
  }

.contact-info {
    border: none;
}

#contact .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-info input {
    height: 50px;
    margin-bottom: 15px;
  }

.contact-info label {
    margin-bottom: 10px;
  }
  
.contact-info input {
    height: 50px;
    margin-bottom: 15px;
  }

  #zip{
    max-width: 25%;
  }

/* PLACEHOLDER + SECTION STYLING  */

input{
    font-style: italic;
}

#state{
    width: 75%;
    margin-bottom: 10px;
    background-color: #eff0f1;
    border: none;
}


/*FLEXBOX NEWSLETTER STYLING*/

#news-box, #bottom-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: none;
}

#html_news,
#css_news,
#javascript_news {
    margin-top: 20px;
}

#text, #html-pref, #topics{
    margin-bottom: 20px;
}

label[for=topics]{
    margin-top: 15px;
    margin-bottom: 15px;
}


/*    TEXT AREA AND BUTTON STYLING   */

button {
    width: 100%;
    border: none;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    background-color: #30acac;
    border-radius: .3rem;
    margin-top: 10px;
}

textarea {
    width: 100%;
    border-radius: 5px;
    background-color: #eff0f1;
    border: none;
}


/* Media Query */

@media (min-width: 768px) {
.contact-info #contact {
    flex-direction: column;
}
.contact-info input {
    flex-grow: 1;
    flex-basis: 75%;
}
.contact-info label {
    flex-basis: 25%;
    height:50px;
    margin: auto 0;
}
#zip {
    max-width: 50%;
}
}