* {
    box-sizing: border-box;
}

/*Wrapped the page so it's cenetered and gave it overall properties */

#page-wrap {
    width: 768px;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

#topline {
    border: none;
    height: 4px;
    background-color: black;
}

/* HEADING/TOP OF THE PAGE */
#intro {
    text-align: center;
    padding: 1em;
}

#subheading {
    margin-top: -10px;
    color: #bbb5b5c0;
}

/* LITERAL CONTACT INFORMATION AND NEWSLETTER HEADING TEXT*/
.labels{
    margin-top: 1em;
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

/* INFO HEADINGS NAME, EMAIL, NUMBER ETC.   */


/* INPUT BOX STYLING  */

input {
    border: 1px solid grey;
  }

#contact .contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info input {
    height: 50px;
    margin-bottom: 15px;
  }

.contact-info label {
    margin-bottom: 10px;
  }
  
.contact-info input {
    height: 50px;
    margin-bottom: 15px;
  }

  #zip{
    max-width: 50%;

  }

/* PLACEHOLDER STYLING */

input{
    text-align: right;
    font-style: italic;
}

input#state{
    text-align: left;
    font-style: normal;
}

/*  CHECKBOX STYLING      */

@media (min-width: 768px) {
.contact-info #contact {
    flex-direction: row;
}
.contact-info input {
    flex-grow: 1;
    flex-basis: 75%;
}
.contact-info label {
    flex-basis: 25%;
    height:50px;
    margin: auto 0;
}
#zip {
    max-width: 25%;
}
}